body {
    text-align: center;
    margin: 8px 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.steps li,
.ingredients li {
    text-align: left;
}

.title {
    background-color: rgb(40, 53, 105);
    color: rgb(228, 228, 228);
    padding: 10px 0;
    margin: 15px auto;
    text-align: center;

}

.return {
    margin-right: auto;
}

ul {
    background-color: rgb(40, 53, 105);
}

ol,
ul {
    list-style-position: inside;
    padding-left: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 8px;
}

ol ol {
    margin-left: 0px;
    margin-right: 0px;
}

.steps li {
    background-color: rgb(179, 247, 173);
    padding: 10px 10px;
    margin: 10px;
    border-radius: 5px;
}

.steps {
    background-color: rgb(131, 226, 123);
    width: 50vw;
    margin: 0 auto;
}

/* li elements with a .ingredients ancestor */
.ingredients li {
    background-color: rgb(247, 235, 173);
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.ingredients {
    background-color: rgb(255, 200, 99);
}

a.return {
    text-align: center;
}

img {
    border-radius: 12px;
}

ul {
    margin: 0 auto;
    width: 30vw;
    min-width: 350px;
}

.page-list {
    padding: 3px 0;
}

.page-list li {
    margin: 5px 0;
    text-align: center;
}

.page-list a {
    color: rgb(228, 228, 228);
}
